@model Instructor
@{
    SelectList selist;
    if(Model!=null) {selist= new SelectList(ViewBag.depts, "ID", "name",Model.dept_id);}
    else{selist = new SelectList(ViewBag.depts, "ID", "name");}
}
<form asp-action="save" asp-controller="instructor" asp-route-id="@Model.ID" method="post">
    
    <div>
        <label asp-for="name">Name</label>
        <input asp-for="name" class="form-control" />
    </div>
    <div>
        <label asp-for="salary"></label>
        <input asp-for="salary" class="form-control" />
    </div>
    <div>
        <label asp-for="address"></label>
        <input asp-for="address" class="form-control" />
    </div>

    <div>
        <label asp-for="dept_id">Department</label>
        <select asp-for="dept_id" asp-items="selist" class="form-control"></select>
    </div>

    <input type="submit" value="Add" class="btn btn-success" />

</form>

   
