@model Instructor
@{
    SelectList selit;
    if(Model.ID!=null)
    {selit = new SelectList(ViewBag.depts, "ID", "name", Model.ID);}
    else
    {selit = new SelectList(ViewBag.depts, "ID", "name");}
}
<form asp-action="savenewuser" asp-controller="instructor" method="post">
    <div>
        <label asp-for="name">Name</label>
        <input asp-for="name"class="form-control"/>
        <span asp-validation-for="name"></span>
    </div>
    <div>
        <label asp-for="address"></label>
        <input asp-for="address" class="form-control" />
        <span asp-validation-for="address"></span>

    </div>
    <div>
        <label asp-for="salary">Salary</label>
        <input asp-for="salary" class="form-control" />
        <span asp-validation-for="salary"></span>
    </div>
    <div>
        <label asp-for="dept_id">Department</label>
        <select asp-for="dept_id" asp-items="selit" class="form-control"></select>
        <span asp-validation-for="dept_id"></span>
    </div>
    <input type="submit" class="btn btn-success" value="ADD" />

</form>