@model List<Department>
@{
    Layout = "_MyLayout";
}
@*section section1{

    this is the section kid

}*@
<h1>Departments</h1>

<table class="table table-hover table-bordered width =50%">

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Manger</td>

    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.ID</td>
        <td>@item.name</td>
        <td>@item.manager</td>
    </tr>
}

</table>

<a asp-action="add" asp-controller="department" class="btn btn-success">Add new Dept</a>


